
img {
  width: 275px;
  height: 275px;
}
form{
  width: 250px;
}

.product-info{
  margin-top: 10px;
  margin-left: 55px;
}

.btns{
  display: flex;
  justify-content: space-between;
}
.up-p{
  font-weight: bold;
}
.col1{
  display: flex;
  justify-content: center;
  margin-right: 100px;
}
.col2{
  margin-left: 100px;
}

@media (max-width: 996px) {
  img{
    width: 150px;
    height: 150px;
  }
  .product-info{
    margin-top: 15px;
    margin-left: 0;
  }
  .row{
    display: flex;
    flex-flow: wrap;
  }
  .col2{
    order:1;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  .col1{
    order:2;
    margin-right: 0;
  }

}
