table.mat-table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 20px;
  box-shadow: none !important;
  margin-bottom: 45px;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}


img {
  width: 275px;
  height: 275px;
}
form{
  width: 250px;
}

.product-info{
  margin-top: 10px;
  margin-left: 55px;
}
.create{
  margin-left: 40px;
}
.container{
  display: flex;
}
.up-p{
  font-weight: bold;
}
@media (max-width: 768px) {
  .create{
    margin-left: 30px;
  }

}
@media (max-width: 665px) {
  img{
    width: 200px;
    height: 200px;
  }
  .row{
    display: flex;
    flex-flow: wrap;
  }
  .col2{
    order:1;
    justify-content: center;
    text-align: center;
  }
  .col1{
    order:2;
  }

}

@media (max-width: 375px) {

  img{
    width: 150px;
    height: 150px;
  }
  .product-info{
    margin-top: 15px;
    margin-left: 0px;
    //text-align: center;
  }
  .row{
    display: flex;
    flex-flow: wrap;
  }
  .col2{
    order:1;
    justify-content: center;
    text-align: center;
  }
  .col1{
    order:2;
  }
}

