<p *ngIf="!isLoading && discounts.length == 0" class="text-center fw-bold fs-5 mt-3 mb-1"> This product has no discounts</p>

<table mat-table [dataSource]="discountsDatasource" class="mat-elevation-z8"
       *ngIf="!isLoading && discounts.length !== 0">

  <ng-container matColumnDef="offered price">
    <th mat-header-cell *matHeaderCellDef>Offered price $</th>
    <td mat-cell *matCellDef="let discount"> {{discount.offeredPrice | customCurrency}} </td>
  </ng-container>

  <ng-container matColumnDef="starts at">
    <th mat-header-cell *matHeaderCellDef>Starts at</th>
    <td mat-cell *matCellDef="let discount"> {{discount.startsAt | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="ends at">
    <th mat-header-cell *matHeaderCellDef>Ends at</th>
    <td mat-cell *matCellDef="let discount"> {{discount.endsAt | date:'medium'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let discount">
      <button mat-raised-button color="warn"
              (click)="deleteDiscount(discount.discountId)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="container d-flex justify-content-center flex-column form-width mt-3 mb-3 cont-war">
  <div class="row">
    <div class="col-sm col1">
      <form [formGroup]="discountForm"
            (ngSubmit)="submit()"
            class="container d-flex justify-content-center flex-column mt-3 mb-3"
      >
        <p class="text-center">Add discount</p>

        <mat-form-field appearance="fill" class="name-input mr-auto ml-auto mb-3">
          <mat-label>Date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" disabled="true" [min]="minDate">
            <input matStartDate placeholder="Start date" formControlName="startsAt">
            <input matEndDate placeholder="End date" formControlName="endsAt">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
          <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
        </mat-form-field>


        <div class="ngx-timepicker-field-example mb-3">
          <ngx-timepicker-field
            [format]="24"
            [defaultTime]="'03:00'"
            formControlName="timeStart"
          >
          </ngx-timepicker-field>
          <mat-error
            class="mt-2 mb-2"
            *ngIf="discountForm.get('startsAt')!.dirty && discountForm.errors?.dateTimeInPast"
          >
            {{dateTimeInPastErrorMessage}}
          </mat-error>
        </div>

        <div class="ngx-timepicker-field-example mb-3">
          <ngx-timepicker-field
            [format]="24"
            [defaultTime]="'03:00'"
            formControlName="timeEnd"
          >
          </ngx-timepicker-field>
        </div>

        <mat-form-field class="example-form-field mb-4">
          <mat-label>Offered price $</mat-label>
          <input matInput
                 type="text"
                 mask="separator.2"
                 formControlName="offeredPrice"
                 autocomplete="off"
                 [(ngModel)]="val"
          >
          <mat-error *ngIf="discountForm.get('offeredPrice')?.invalid" class="mb-5">
            {{offeredPriceErrorMessage}}
          </mat-error>

        </mat-form-field>
        <div>
          <button class=""
                  mat-raised-button color="primary"
                  [routerLink]="['../']"
                  type="button"
          >
            Go Back
          </button>
          <button class=" create"
                  mat-raised-button color="primary"
                  type="submit"
                  [disabled]="discountForm.invalid || discountForm.untouched || isIncorrectTime"
          >
            Create
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="product$ | async as product" class="col-sm mt-3 mb-3 col2">
      <img mat-card-image
           src="{{product.imageUrl}}"
           alt="Photo"
           *ngIf="!isLoading || product.imageUrl"
      >
      <div class="product-info">
        <p class="fs-5 fst-italic">{{product.name}}</p>
        <p class="fs-5"> Price: {{product.price | customCurrency}}</p>
      </div>
    </div>


  </div>
</div>


