<div class="container" *ngIf="!isLoading">
  <div class="row mb-2 mt-2">

    <p>
      <span class="font-monospace id"> Order id: </span>
      <span class="fw-bold">{{order.orderId}}</span>
    </p>

    <p>
      <span class="font-monospace id">Status: </span>
      <span class="fw-bold"> {{order.statusName | prettyStatus}} </span>
    </p>

    <p>
      <span class="font-monospace id">Date: </span>
      <span class="fw-bold">{{order.placedAt | date:'medium'}} </span>
    </p>

  </div>
</div>
