<mat-card class="form-width mb-3 product-card d-flex flex-column">
  <mat-card-header class="header-height">
    <div mat-card-avatar>
      <img [src]="product.imageUrl" alt="image of {{product.name}}">
    </div>
    <mat-card-title>
      <a
        class="link-product-name "
        [routerLink]="['/product', product.productId]"
      >
        {{product.name}}
      </a>
    </mat-card-title>
    <mat-card-subtitle>{{product.category | prettyCategory}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="d-flex flex-column">
    <div>
      <span class="font-monospace badge bg-warning me-3">Product id: </span>
      <br>
      <div class="mt-1">{{product.productId}}</div>
    </div>
    <p
      class="mb-0"
      *ngIf="showQuantity"
    >
      <span class="font-monospace badge tomato mt-2 me-3">Quantity: </span>{{product.quantity}}
    </p>
    <div class="mt-2">
      <span class="font-monospace badge green me-2">Price: </span>
      <span
        class="me-2"
        [class.text-decoration-line-through]="discountExist(product.discount)"
      >
          {{product.price | customCurrency}}
        </span>
      <span *ngIf="discountExist(product.discount)" class="font-monospace badge crimson cart-custom-text-font-size">
          {{product.discount | customCurrency}}
        </span>
    </div>
    <div
      *ngIf="showQuantity"
      class="mt-2"
    >
      <span class="font-monospace badge total-price-color me-2">Total price: </span>
      <span
        class="me-2"
        [class.text-decoration-line-through]="discountExist(product.discount)"
      >
          {{product.totalPriceWithoutDiscount | customCurrency}}
        </span>
      <span *ngIf="discountExist(product.discount)" class="font-monospace badge crimson cart-custom-text-font-size">
          {{product.totalPrice | customCurrency}}
        </span>
    </div>
    <div
      class="mt-2"
    >
      <span class="font-monospace badge cyan me-3">Description: </span>
      <br>
      <div class="mt-2 mx-auto d-inline-block cart-desc badge cyan-light pre-line cart-custom-text-font-size">
        {{product.description | longText}}
      </div>
    </div>
  </mat-card-content>
  <div class="spacer"></div>
  <ng-content></ng-content>
</mat-card>
