<mat-horizontal-stepper
  *ngIf="firstStepForm"
  labelPosition="bottom" #stepper
>
  <mat-step>
    <ng-template matStepLabel>Contact information</ng-template>
    <app-checkout-step-one
      [firstStepForm]="firstStepForm"
    ></app-checkout-step-one>
  </mat-step>

  <mat-step >
    <ng-template matStepLabel>Time of delivery</ng-template>
    <app-checkout-step-two
    [timeslots]="timeslots"
    (dateChangedEvent)="getSlotsForDate($event)"
    (timeSelectedEvent)="saveTimeOfDelivery($event)"
    ></app-checkout-step-two>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Order summary</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<app-cover-loading *ngIf="isLoading"></app-cover-loading>
