<div
  class="h-100per container d-flex justify-content-center align-items-center"
>
  <form
    [formGroup]="form"
    class="container d-flex justify-content-center flex-column form-width mt-3 mb-3">
    <h1 class="text-center">Change Password</h1>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>Current password</mat-label>
      <input type="password" matInput formControlName="currentPassword">
      <mat-error *ngIf="form.get('currentPassword')?.invalid">{{passwordErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>New password</mat-label>
      <input type="password" matInput formControlName="newPassword">
      <mat-error *ngIf="form.get('newPassword')?.invalid">{{passwordErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>New password (repeat)</mat-label>
      <input type="password" matInput formControlName="newPasswordRepeat">
      <mat-error *ngIf="form.get('newPasswordRepeat')?.invalid">{{passwordErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-error class="mb-3" *ngIf="form.errors?.passwordDontMatch">{{passwordDontMatchMessage}}</mat-error>
    <mat-error class="mb-3" *ngIf="form.errors?.passwordsAreTheSame">{{passwordsAreTheSameMessage}}</mat-error>
    <button
      mat-raised-button color="accent"
      [disabled]="form.invalid || isLoading"
      class="name-input mr-auto ml-auto"
      (click)="submit()"
    >
      Set new password
    </button>
    <div
      *ngIf="isLoading"
      class="d-flex justify-content-center mt-2"
    >
      <mat-spinner
        class="mr-auto"
        [diameter]="36"
      ></mat-spinner>
    </div>
  </form>
</div>

