@import 'src/styles/variables';


.but{
  margin-top: 20px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.bottom-button{
  width: 100px;
  height: 40px;
}
.disc{
  height: 45px;
  background-color: #f0f0f0;
  color: black;
}
img{
  width: 150px;
  height: 150px;
  display: flex;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.number-field{
  width: 100px;
}
textarea{
  height: 85px;
}
form{
  width: 400px;
}
