<app-profile-page-form
  *ngIf="isFormViewActive"
  [form]="form"
  [status]="profile.status"
  [isLoading]="isLoading"
  [isStaffCreateRoute]="isStaffCreateRoute"
  [isCustomerProfileRoute]="isCustomerProfileRoute"
  [isStaffEditRoute]="isStaffEditRoute"
  [formTitle]="formTitle"
  [formBtnMessage]="formBtnMessage"
  (staffCreateEvent)="submitCreateStaff($event)"
  (staffEditEvent)="submitEditStaff($event)"
  (customerEditEvent)="submitEditCustomer($event)"
  (statusChangeEvent)="statusChangeStaffer($event)"
  (viewActiveEvent)="toggleActiveView()"
>
</app-profile-page-form>

<app-profile-page-view
  *ngIf="!isFormViewActive"
  [profile]="profile"
  [isCustomerProfileRoute]="isCustomerProfileRoute"
  [isStaffProfileRoute]="isStaffProfileRoute"
  [isFormNeeded]="isFormNeeded"
  (viewActiveEvent)="toggleActiveView()"
>
</app-profile-page-view>
