@media (min-width: 600px) and (orientation:landscape) {

  .products {
    margin-right: 25px;
  }
}
@media screen and (max-width: 375px) {
  .products {
    margin-right: 0;
    margin-left: 0;
  }
}
