
<div>

  <app-header></app-header>

  <div class = "row">
  <div class="col" >
    <app-filters
      [productCatalogFilter]="formGroup"
      [properties]="filterProps"
      (searchCriteriaEvent)="updatePage()"
    ></app-filters>
  </div>

  <div class="col col-md-8 m-2">
    <app-products  [products]="products" [role]="role"></app-products>
  </div>

  </div>
  <div>
    <mat-paginator
      [length]="length"
      [pageSizeOptions]="[9, 12, 24]"
      (page)="handlePageChange($event)"
    >
    </mat-paginator>
</div>
</div>
