
<div class="catalog">

  <app-header></app-header>

  <div class = "row">
  <div class="col filter" >
    <app-filters
      [productCatalogFilter]="formGroup"
      [properties]="filterProps"
      (searchCriteriaEvent)="updatePage()"
    ></app-filters>
  </div>

  <div class="col col-md-8">

    <app-carousel [products]="products" [role]="role"></app-carousel>


    <app-products  [products]="products" [role]="role"></app-products>

    <div cass="paginator">
      <mat-paginator
        *ngIf = "products.length>0"
        [length]="length"
        [pageSizeOptions]="[9, 12, 24]"
        (page)="handlePageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>

  </div>


</div>
