
<div class="catalog">

  <app-header></app-header>

  <div class = "row">
  <div class="col-md-4 " >
    <app-filters
      [productCatalogFilter]="formGroup"
      [properties]="filterProps"
      (searchCriteriaEvent)="updatePage()"
    ></app-filters>
  </div>

  <div class="col-md-8 ">



    <app-products  [products]="products"
                   [categories]="filterProps.categories"
                   [role]="role"></app-products>
    <div *ngIf="products.length==0 && !isLoading">
      <h2 class="text-center">Ooops.. It seems we can`t find products for you!</h2>
    </div>

    <div >
      <mat-paginator
        *ngIf = "products.length>0"
        [pageIndex]="pageIndex"
        [length]="length"
        [pageSizeOptions]="[9, 12, 24]"
        [pageSize]="pageSize"
        (page)="handlePageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>

  </div>


</div>
