<div>
  <div class="table-outer">
    <table mat-table [dataSource]="orders$">
        <ng-component matColumnDef="placedAt">
          <th mat-header-cell *matHeaderCellDef>Placed at</th>
          <td *matCellDef="let order">{{order.placedAt | date: 'short'}}</td>
        </ng-component>
        <ng-component matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef>Date of delivery</th>
          <td *matCellDef="let order">{{order.deliveryDate | date: 'mediumDate'}}</td>
        </ng-component>
      <ng-component matColumnDef="deliveryTimeslot">
        <th mat-header-cell *matHeaderCellDef>Timeslot of delivery</th>
        <td *matCellDef="let order">{{order.timeStart | date: 'shortTime'}} - {{order.timeEnd | date: 'shortTime'}}</td>
      </ng-component>
      <ng-component matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef>Order status</th>
        <td *matCellDef="let order">{{order.status | deEnum}}</td>
      </ng-component>
      <ng-component matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td *matCellDef="let order">{{order.deliveryAddress | address}}</td>
      </ng-component>
      <ng-component matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td *matCellDef="let order">{{order.phoneNumber | phone}}</td>
      </ng-component>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
    </table>
  </div>

  <mat-paginator [length]="orders$.data.length" pageSize="25" [pageSizeOptions]="[5, 10, 25]"
                 showFirstLastButtons></mat-paginator>
</div>
