.table-outer {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

th, td {
  padding: 0 15px !important;
}

.submitted{
  background-color: #4da79f;
  color: white;
  border-radius: 15px;
}
.failed{
  background-color: firebrick;
  color: white;
  border-radius: 15px;
}
.submitted{
  background-color: #4da79f;
  color: white;
  border-radius: 15px;
}
.cancelled{
  background-color: deeppink;
  color: white;
  border-radius: 15px;
}
.delivered{
  background-color:green ;
  color: white;
  border-radius: 15px;
}
.in_delivery{
  background-color: goldenrod;
  color: white;
  border-radius: 15px;
}


.table-icon {
  width: 25px;
  margin: 10px;
  cursor: pointer;
}
