table {
  width: 100%;

  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

tr {
  min-width: 1200px;
  width: 100%;
}

th, td {
  padding: 0 15px !important;
}

.table-icon {
  width: 25px;
  margin: 10px;
  cursor: pointer;
}
