<div>
  <button mat-raised-button class="my-2">New staffer</button>
  <mat-table [dataSource]="matchingStaff">
    <ng-component matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef>Employee id</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.userId}}</mat-cell>
    </ng-component>
    <ng-component matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Employee email</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.email}}</mat-cell>
    </ng-component>
    <ng-component matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>Employee first name</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.firstName}}</mat-cell>
    </ng-component>
    <ng-component matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Employee last name</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.lastName}}</mat-cell>
    </ng-component>
    <ng-component matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef>Employee phone number</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.phoneNumber}}</mat-cell>
    </ng-component>
    <ng-component matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Employee role</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.role}}</mat-cell>
    </ng-component>
    <ng-component matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Employee status</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.status}}</mat-cell>
    </ng-component>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
  </mat-table>
</div>
