<form [formGroup]="staffFilterForm" (ngSubmit)="search()">
  <h1 class="text-center" id="heading">Enter your search criteria</h1>

  <div class="d-flex justify-content-around">
    <mat-form-field appearance="fill">
      <mat-label>First name:</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last name:</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
  </div>

  <fieldset class="my-2">
    <legend>Target roles:</legend>
    <mat-checkbox formControlName="isRoleCourier" class="mx-3">Courier</mat-checkbox>
    <mat-checkbox formControlName="isRolePM" class="mx-3">Product manager</mat-checkbox>
  </fieldset>
  <fieldset class="my-2">
    <legend>Target statuses:</legend>
    <mat-checkbox formControlName="isStatusActive" class="mx-3">Active</mat-checkbox>
    <mat-checkbox formControlName="isStatusInactive" class="mx-3">Inactive</mat-checkbox>
    <mat-checkbox formControlName="isStatusTerminated" class="mx-3">Terminated</mat-checkbox>
    <mat-checkbox formControlName="isStatusUnconfirmed" class="mx-3">Unconfirmed</mat-checkbox>
  </fieldset>

  <div class="d-flex justify-content-center">
    <button mat-raised-button type="submit" color="primary">Search</button>
  </div>
</form>
