$nav-height: 64px;

@mixin height-full {
  min-height: calc(100% - #{$nav-height});
}

.form-width {
  width: clamp(250px, 320px, 450px);
}

.h-100per {
  @include height-full
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
