<div class="container" *ngIf="!isLoading">
  <div class="row mb-2 mt-5">

    <p><span class="font-monospace">Address: </span>
      <span class="fw-bold">
        {{orderCustomerInfo.content.city}},
        {{orderCustomerInfo.content.street}} street
        {{orderCustomerInfo.content.building}},
        {{orderCustomerInfo.content.flat}} Apt

      </span>
    </p>
    <p><span class="font-monospace">Customer's name: </span>
      <span class="fw-bold">
        {{orderCustomerInfo.content.firstName}}
        {{orderCustomerInfo.content.lastName}}
      </span>

    </p>
    <p>
      Phone: <span class="fw-bold">{{orderCustomerInfo.content.phoneNumber | phone}} </span>
    </p>
    <p>
      <span class="font-monospace">Comment: </span>
      <span class="fw-bold">
        {{orderCustomerInfo.content.comment}}
        </span>
    </p>

  </div>
</div>
