.deliveries{
  margin-top: 45px;
  text-align: center;

}
table {
  text-align: left;
  width: 70%;
  margin-left:auto;
  margin-right:auto
}

.submitted{
background-color: #4da79f;
  color: white;
  border-radius: 15px;
}
.failed{
  background-color: firebrick;
  color: white;
  border-radius: 15px;
}
.submitted{
  background-color: #4da79f;
  color: white;
  border-radius: 15px;
}
.canceled{
  background-color: coral;
  color: white;
  border-radius: 15px;
}
.delivered{
  background-color:green ;
  color: white;
  border-radius: 15px;
}
.in_delivery{
  background-color: goldenrod;
  color: white;
  border-radius: 15px;
}
.button-row{
  display: table-cell;
  margin-right: 15px;
  margin-left: 25px;

}

.table-outer {
  overflow-x: auto;
  white-space: nowrap;
}
mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell .mat-header-cell {
  padding: 0.75rem !important;
}
