
  <!--Card-->
  <mat-card class="container mb-5 ">


    <div class="container">
      <img mat-card-image src="{{productItem.imageUrl}}">
      <div *ngIf="productItem.inStock==0" class="content">
        OUT OF STOCK!
      </div>
    </div>



    <mat-card-content >

      <mat-card-title >
        <h4 ><a class="card-title" href="">{{productItem.name}}</a></h4>
      </mat-card-title>

      <mat-card-content >
        <div class = "row ">

        <p *ngIf="productItem.discount!=0" class="new-price col">US $ {{(productItem.discount/100).toFixed(2)}}</p>
        <p *ngIf="productItem.discount!=0" class="old-price col">{{(productItem.price/100).toFixed(2)}}</p>
        <p *ngIf="productItem.discount==0" class="price col">US $ {{(productItem.price/100).toFixed(2)}}</p>
        </div>
      </mat-card-content>

      <hr>

      <!--Card footer-->

      <mat-card-actions >

        <button mat-button>Add to cart <i class="fas fa-shopping-cart"></i></button>
        <button mat-button>Compare</button>

      </mat-card-actions>


    </mat-card-content>
  </mat-card>
  <!--/.Card-->


