.example-card {
  max-width: 300px;
}


.new-price{
  color: crimson;
  font-weight: bold;
}
.old-price{
  text-decoration: line-through;

}
.price{
  font-weight: bold;
}
.card-title{
  font-weight: 300;
  font-size: 24px;
  margin: 0px 0px 0px 0px;
  line-height: 110%;
  font-family: 'Open sans', sans-serif;
  color:#6e1414;

}

.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  position: relative;

}

.container .content {
  position: absolute; /* Position the background text */
  background: rgba(224, 224, 224, 0.5); /* Black background with 0.5 opacity */
  color: red;
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 20px;
}
.container .popular-content{
  position: absolute; /* Position the background text */
  background: rgba(252, 227, 3, 0.5); /* Black background with 0.5 opacity */
  color: black;
  top: 8px;
  left: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 20px;
}
