
  <!--Card-->
  <mat-card class="container mb-5 ">


    <div class="container">
      <img mat-card-image src="{{productItem.imageUrl}}">
      <a> </a>
      <div *ngIf="productItem.inStock==0" class="content">
        <h1>OUT OF STOCK!</h1>
      </div>
    </div>



    <mat-card-content >

      <mat-card-title >
        <h4 ><a class="card-title" href="">{{productItem.name}}</a></h4>
      </mat-card-title>

      <!--Description-->
      <mat-card-content >
        <div class = "row ">

        <p *ngIf="productItem.discount!=0" class="new-price col">US $ {{productItem.discount}}</p>
        <p *ngIf="productItem.discount!=0" class="old-price col">{{productItem.price}}</p>
        <p *ngIf="productItem.discount==0" class="price col">US $ {{productItem.price}}</p>
        </div>
      </mat-card-content>

      <hr>

      <!--Card footer-->

      <mat-card-actions class="">

        <button mat-button class="">Add to cart <i class="fas fa-shopping-cart"></i></button>
        <button mat-button class="">Compare</button>

      </mat-card-actions>


    </mat-card-content>
  </mat-card>
  <!--/.Card-->


