.container {
  max-width: 1000px;
  font-size: 20px;
  margin: 110px auto 0 auto;
}

br {
  display: none;
}

.wrapper {
  display: flex;
}

.info-block {
  margin-top: -50px;
  min-width: 525px;
}

.rrr {
  white-space: pre-line;
}

.name {
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
  font-style: italic;
  margin-bottom: 25px;
  line-height: normal;
}

.product-id {
  cursor: pointer;
}

.product-id:hover {
  color: #1c00ff;
}

img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 350px;
  height: 350px;
  margin-right: 50px;
  margin-left: -50px;
  margin-top: 60px;
}

.new-price {
  padding-left: 15px;
  font-size: 30px;
  color: crimson;
}

input {
  text-align: center;
  max-width: 60px;
  margin-top: 0;
  margin-left: 5px;
}

.buttons {
  width: 100%;
  display: flex;
}

.warn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.warning {
  color: #ff0000;
}

.hurry {
  line-height: 25px;
  width: fit-content;
}

.description:after {
  content: '';
  display: block;
}


button {
  width: 150px;
  margin-right: 25px;
}

.remove {
  margin-left: 25px;
}

.add-delete {
  display: flex;
  align-items: center;
}

.editing{
  margin-top: 35px;
}
.edit-go{
  margin-left: 65px;
}

.products {
  margin-right: 0;
}
.comparing{
  margin-left: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 890px) {
  .container {
    max-width: 375px;
    margin-top: 30px;
  }
  .comparing{
    margin-left: 25px;
  }

  img {
    width: 300px;
    height: 300px;
    margin: 10px auto 10px 30px;
  }
  .wrapper {
    display: block;
  }
  .product-id {
    font-size: 18px;
  }
  .info-block {
    min-width: 350px;
  }
  .name {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 40px;
    width: auto;
  }

  input {
    margin-top: 5px;
  }

  br {
    display: flex;
  }
  .buttons {
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .warn {
    margin-top: 5px;
    height: 0;
    text-align: center;
  }
  input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .remove {
    margin: 10px 0;
  }
  .compare{
    width: 150px;
    margin: 5px 0 25px;
  }
  .add-but{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .add-delete {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .editing {
    margin-right: auto;
    margin-top: 25px;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  button{
    width: 200px;
  }
  .compare{
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .hurry {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .product-id {
    font-size: 18px;
  }

  br {
    display: flex;
  }

  .info-block {
    min-width: 355px;
    max-width: 370px;
  }

  .name {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 65px;
    margin-bottom: 40px;
    width: auto;
  }

  .container {
    max-width: 375px;
    margin-top: 30px;
  }

  img {
    width: 300px;
    height: 300px;
    margin: 0 auto 10px 30px;
  }

  .wrapper {
    display: block;
  }
  .editing{
    margin-bottom: 20px;
  }
}
