.container {
  max-width: 1000px;
  font-size: 20px;
  margin: 110px auto 0 auto;
}
br{
  display: none;
}

.wrapper {
  display: flex;
}
.info-block{
  min-width: 525px;
}
.rrr{
  white-space: pre-line;
}
.name {
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
  font-style: italic;
  margin-bottom: 25px;
  line-height: normal;
}
.product-id{
  cursor: pointer;
}
.product-id:hover{
  color: #1c00ff;
}
img {
  width: 400px;
  height: 400px;
  margin-right: 20px;
  margin-left: -50px;
}


.new-price {
  padding-left: 15px;
  font-size: 30px;
  color: crimson;
}

input {
  text-align: center;
  max-width: 60px;
}

.action {
  font-size: 16px;
  width: 100px;
  height: 50px;
  margin: 25px 50px 15px 0px;
  text-align: center;
  padding: inherit;
}

.buttons {
  width: 100%;
  display: flex;
}
.remove{
  width: 150px;
}
.edit {
  margin-right: auto;
}

.warn {
  margin-top: 10px;
}

.warning {
  color: #ff0000;
}

.warning-avail {
  color: #00075a;
}

.hurry{
  line-height: 25px;
}
.description:after{
  content: '';
  display: block;
}
@media screen and (max-width: 770px){
  .name {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 40px;

  }
  .container {
    max-width: 375px;
    margin-top: 30px;
  }
  img {
    margin-left: 30px;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .wrapper {
    display: block;
  }
  input {
    margin-top: 5px;
  }

  .buttons {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }

  .editing {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .edit {
    margin: 0;
  }

}

@media screen and (max-width: 375px) {
  .hurry{
    text-align: center;
  }
  .product-id{
    font-size: 18px;
  }
  br{
    display: flex;
  }
  .info-block{
    min-width: 355px;
    max-width: 370px;

  }
  .name {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: auto;
  }
  .container {
    max-width: 375px;
    margin-top: 30px;
  }
  img {
    margin-left: 30px;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .wrapper {
    display: block;
  }
  input {
    margin-top: 5px;
  }

  .buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .warn{
    height: 0;
    text-align: center;
  }
  .editing {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .edit {
    margin-bottom: 25px;
    width: 280px;
  }

}
