<table mat-table [dataSource]="discountsDatasource" class="mat-elevation-z8"
       *ngIf="!isLoading && discounts.length !== 0">

  <ng-container matColumnDef="offered price">
    <th mat-header-cell *matHeaderCellDef>Offered price $</th>
    <td mat-cell *matCellDef="let discount"> {{discount.offeredPrice | customCurrency}} </td>
  </ng-container>

  <ng-container matColumnDef="starts at">
    <th mat-header-cell *matHeaderCellDef>Starts at</th>
    <td mat-cell *matCellDef="let discount"> {{discount.startsAt | date:'MMM d, y, hh:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="ends at">
    <th mat-header-cell *matHeaderCellDef>Ends at</th>
    <td mat-cell *matCellDef="let discount"> {{discount.endsAt | date:'MMM d, y, hh:mm'}}
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let discount">
      <button mat-raised-button color="warn"
              (click)="openDialog(discount.discountId)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
