<div
  class="h-100per container d-flex justify-content-center align-items-center"
>
  <form
    [formGroup]="form"
    class="container d-flex justify-content-center flex-column form-width mt-3 mb-3">
    <h1 class="text-center">Create new product</h1>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName" required>
        <mat-error *ngIf="form.get('productName')?.hasError('required')">{{enterValueErrorMessage}}</mat-error>
        <mat-error *ngIf="form.get('productName')?.hasError('pattern')">{{productNameErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>Price $</mat-label>
      <input
        matInput
        type='text'
        mask="separator.2"
        formControlName="price"
        required
      />

      <mat-error *ngIf="form.get('price')?.hasError('required')">{{enterValueErrorMessage}}</mat-error>
      <mat-error *ngIf="form.get('price')?.hasError('min')">{{minPriceErrorMessage}}</mat-error>
      <mat-error *ngIf="form.get('price')?.hasError('max')">{{maxPriceErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="name-input mr-auto ml-auto mb-3">
      <mat-label>In Stock</mat-label>
      <input matInput
             formControlName="inStock"
             type="text"
             mask="separator.0"
             required
      >
      <mat-error *ngIf="form.get('inStock')?.hasError('min')">{{quantityErrorMessage}}</mat-error>
      <mat-error *ngIf="form.get('inStock')?.hasError('required')">{{enterValueErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mb-3">
      <mat-label>Choose category</mat-label>
      <mat-select  formControlName="categoryId" required>
        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
          {{category.categoryName| prettyCategory}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('categoryId')?.hasError('required')">{{enterValueErrorMessage}}</mat-error>
    </mat-form-field>

    <app-file-uploader (correctFile)="getFile($event)"
                       class="correct-file"
                       [form]="form"

    >
    </app-file-uploader>
    <div class="error">
    <mat-error *ngIf="isNotPng">{{fileExpansionErrorMessage}}</mat-error>
    <mat-error *ngIf="isHeavier">{{fileWeightErrorMessage}}</mat-error>
    <mat-error *ngIf="isWrongResolution">{{fileResolutionErrorMessage}}</mat-error>
    </div>
    <div class="name-input ml-auto butt">
    <button mat-mini-fab
            *ngIf="imgUrl"
            type="button"
            (click)="resetImg()"
            class="cancel"
    > x
    </button>
    </div>
    <img mat-card-image
         alt="Photo"
         *ngIf="imgUrl"
         [src]="imgUrl"
    >
    <p class="text-center fst-italic mt-2" *ngIf="imgUrl">Preview</p>

    <button
      mat-raised-button color="accent"
      [disabled]="form.invalid || isLoading || isHeavier || isNotPng || isWrongResolution || !imgUrl"
      class="name-input mr-auto ml-auto mt-2"
      (click)="submit()"
    >
      Create
    </button>
  </form>

</div>
