.filters{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  padding: 25px 25px 25px 25px;
  font-size: 14px;

}
.sample-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 500px;
}


